* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
}

.header, 
.footer {
    background-color: #141414;
    font-size: 14px;
    color: #ccc;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__logo {
    position: absolute;
    top: 10px;
    min-width: 200px;
    left: calc((100% - 200px) / 2);
    text-align: center;
}


.header__nav {
    padding-right: 10px;
    display: flex;
    gap: 10px;
}

.header__link {
    color: inherit;
    text-decoration: none;
}

.header__link:hover {
    color: white;
}

.footer {
    height: 300px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.footer__nav__title {
    color: grey;
}

.footer__link {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.li__footer {
    list-style-type: none;
}

.footer__hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.footer__languages {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 40px;
}

.footer__link__language {
    color: grey;
    text-decoration: none;
}

.footer__link__language:hover {
    text-decoration: underline;
}

.footer__timezone {
    padding: 10px 40px;
    color: grey;
}

.footer__timezone__current {
    color:#ccc;
}

.footer__copyright {
    padding: 10px 40px;
    color: grey;
}

.main__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content__title {
    padding: 10px 40px;
    color:#141414
}

.content__subtitle {
    padding: 10px 40px;
    color:#141414
}

.main__hr {
    background: #b90000;
    height: 5px;
    width: 50px;
    display: block;
}

.popular__singers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.singer_card {
    background: linear-gradient(to bottom, #141414, #b90000);
    border-radius: 100%;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
}

.singer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-width: 15%;
    margin-top: 20px;
}

.popular__tracks {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.track {
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    min-width: 30%;
    padding: 10px 40px;
}

.track_card {
    min-width: 40px;
    min-height: 40px;
    background: linear-gradient(to bottom, #141414, #b90000);
}

.track_description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}

.card_title {
    color:#141414;
    font-size: 14px;
}

.card_subtitle {
    color:#141414;
    font-size: 12px;
}

.search__container {
    display: flex;
    flex-direction: column;
}

.search__title {
    color: #242424;
    margin: 24px;
    font-size: 30px;
}

.search__bar__container {
    display: flex;
    flex-direction: row;
}

.search__bar {
    min-width: 500px;
    min-height: 40px;
    margin: 24px;
    padding: 6px 40px 6px 12px;
}

.search__button {
    background-color: #b90000;
    color: #000000;
    min-width: 100px;
    min-height: 40px;
    margin: 24px;
    border-radius: 5px;
}

.main__title{
    color: #242424;
    margin: 24px;
    font-size: 24px;
}

.main__track__list {
    display: flex;
    flex-direction: column;
    margin: 24px;
    width: 60%;
    margin-bottom: 40px;
}

.track__card{
    display: flex;
    align-items: center;
    padding: 9px 15px;
}

.track__image {
    min-width: 34px;
    min-height: 34px;
    flex: 0;
    background: linear-gradient(to bottom, #141414, #b90000);
}

.track__name {
    color: #242424;
    font-size: 14px;
    margin: 0 7px;
    font-weight: bold;
    flex: 2;
}

.track__artist {
    color: #242424;
    font-size: 14px;
    margin: 0 7px;
    flex: 2;
}


.track__hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: 30px;
    width: 70%;
}

.container{
  display:grid;
  place-items:center;
  cursor:pointer;
  min-width: 34px;
  min-height: 34px;
  background:#efeeee;
  border-radius:50%;
  margin-right: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1),
    -10px -10px 10px rgba(255,255,255,0.6);
}
.fas{
  font-size: 12px;
  color:gray;
}
.container:active{
  box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
    inset -10px -10px 10px rgba(255,255,255,0.6);
    color:#721efa;
}